{{ define "scripts" }}
    <script type="text/javascript">
     window.receiptID = {{.Page.Receipt.ID}};
    </script>
{{ end }}

{{ define "content" }}
    <h1>Accipere</h1>
    <br>
    <h2>Additional Receipt Info</h2>
    <form method="post">
        {{csrf_token .}}
        <div class="container">
            <label><b>Total</b></label>
            <span>$<input type="number" step="any"  min="0.0"
                          placeholder="0.00" name="rtotal" id="rtotal"
                          value="{{.Page.Receipt.Total}}"></span>
            
            {{ if $gs := .Page.ReceiptGroups }}
                <label><b>Receipt Group</b></label>
                <!-- This should be a <select>, but we don't have the method yet
                     for retrieving the list of accounts -->
                <div>
                    <select class="" name="account" style="width: 100%; height: 3em">
                        <option value="" {{ if eq $.Page.Receipt.Account "" }}selected{{ end }}>-- NONE --</option>
                        {{ range $gs }}
                            <option value="{{.}}" {{ if eq $.Page.Receipt.Account . }}selected{{ end }}>{{.}}</option>
                        {{ end }}
                    </select>
                </div>
            {{ end }}
            
            <label><b>Notes</b></label>
            <textarea placeholder="Enter notes here..." name="rnotes"
                      id="rnotes">{{.Page.Receipt.Notes}}</textarea>

            <button type="submit" id="rsubmit">Submit</button>
        </div>

        <div class="container" style="background-color: #f1f1f1">
            <button type="button" class="smallBtn" onclick="window.location.assign('/userhome')">Back</button>
        </div>
    </form>
    <script type="text/javascript" >
     var $total = $('#rtotal'), origPlchdr = $total.attr('placeholder');
     $total.attr('placeholder', origPlchdr + ' - Reading receipt (OCR)...');
     $.ajax({
        method: "GET",
        url: "total_ocr",
        dataType: "text"
     })
      .done(function(result) {
          if ($total.val() == '') {
              $total.val(result);
          }
      })
      .fail(function() {
          $total.attr('placeholder', origPlchdr + ' (OCR failed)');
      });
    </script>
{{ end }}
