form {
    border: 3px solid #f1f1f1;
}

form.transparent {
    border: none;
    display: inline;
}

input[type=text], input[type=password], input[type=date], input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.createReceipt {
    width: auto;
}

.smallBtn {
    width: auto;
}

@media screen and (max-width: 300px) {
    span.psw {
	display: block;
	float: none;
    }
}

.alert {
  margin: 0.7em 0;
  padding: 1em;
  border-radius: 0.4em;
}

.alert.alert-success {
  background-color: lightgreen;
}

.alert.alert-warning {
  background-color: khaki;
}

.alert.alert-info {
  background-color: lightblue;
}

.alert.alert-danger {
  background-color: red;
}

.hidden {
  display: none;
}
