html, body {
    height: 100%;
}

.btnCmds {
    background-color: #f1f1f1;
    padding: 10px;
}

.dropBtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .action {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .action:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.show {
    display: block;
}

.receiptTable {
    margin: 10px 0 10px 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.receiptTable table {
    
}

.receiptTable tr {
    
}

.receiptTable td {
    background-color: #e2e2e2;
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 25px;
}

.receiptTable td.foreignReceipt {
    background-color: lightsteelblue;
}

.receiptTable td:hover {
    background-color: white;
    cursor: pointer;
}

.receiptTable td.foreignReceipt:hover {
    background-color: white;
}

.filterOptions {
    background-color: #f1f1f1;
    padding: 0 10px 10px 10px;
    margin: 0 0 10px 0;

    /*Collapsed*/
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.expand {
    /*Figure out why max-height: 100% won't work*/
    max-height: 150%;
}

.filterData {
    width: 100%;
}

.filterLine {
    display: inline-block;
    width: 100%;
}

.filterLine p {
    display: inline;
}

.filterLine input {
    display: inline;
    width: auto;
}
