.ReceiptInfo {
    text-align: center;
    border: 3px solid #f1f1f1;
    padding: 16px;
}

#receipt_img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#receipt_loc {
    max-width: 90%;
    max-height: 35%;
    height: 250px;
    width: 500px;
    object-fit: contain;
    display: block;
    margin: auto;
    padding: 24px 0 0 0;
}

.ReceiptInfo p {
    margin: 24px 0 12px 0;
}

.ReceiptInfo hr {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.ReceiptInfo hr:after {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input::-webkit-calendar-picker-indicator {
    margin: 0;
    padding: 0;
}
